---
import { getCollection } from "astro:content";
import type { Blog, WithContext } from "schema-dts";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import PostCards from "../components/PostCards.astro";
import Layout from "../layouts/Layout.astro";
import { sortByPublishDate, WEBSITE_DOMAIN } from "../lib/utils";

export const prerender = true;

const tutorialPosts = await getCollection("tutorials");
const allTutorialPosts = sortByPublishDate(tutorialPosts, "desc").slice(0, 5);
const latestPosts = allTutorialPosts.slice(0, 5);
const basicsPosts = allTutorialPosts
  .filter((post) =>
    (post.data.tags as string[])
      .map((tag) => tag.toLowerCase())
      .includes("basique")
  )
  .slice(0, 3);

// Metadata for the page
const title = "CSSéducteur - Tutoriels CSS";
const description =
  "CSSéducteur, la référence en CSS et design web, vous propose des tutoriels, astuces et techniques avancées pour améliorer vos compétences en design web.";
const schema: WithContext<Blog> = {
  "@context": "https://schema.org",
  "@type": "Blog",
  "@id": "https://css-seducteur-css.site",
  name: "CSSéducteur",
  headline: title,
  description,
  url: "https://css-seducteur-css.site",
  publisher: {
    "@type": "Organization",
    name: "CSSéducteur",
    logo: {
      "@type": "ImageObject",
      url: "https://css-seducteur-css.site/favicon.svg",
    },
  },
  blogPost: allTutorialPosts.map((post) => ({
    "@id": `https://${WEBSITE_DOMAIN}/blogs/tutorials/${post.id}`,
    headline: post.data.title,
  })),
};
---

<Layout
  title="CSSéducteur - CSS tutorials"
  description={description}
  schema={JSON.stringify(schema)}
>
  <Header />
  <main class="dark:text-white p-4 max-w-[800px] mx-auto">
    <section class="text-center">
      <h1 class="text-[60px] leading-none mt-7 mb-4">
        CSSéducteur, la référence en CSS et design web.
      </h1>
      <span class="text-4">Rédigé et imaginé par CSSéducteur.</span>
      <p class="font-extralight text-3 mt-7 mb-5">
        CSSéducteur est un blog dédié à l'apprentissage du CSS et du design web.
        Vous y trouverez des tutoriels, des astuces et des techniques avancées
        pour améliorer vos compétences en design web.
      </p>
    </section>

    <section class="flex flex-col my-6">
      <h1 class="font-semibold text-[36px] text-center mb-4">
        Commencez par les bases
      </h1>
      <PostCards posts={basicsPosts} />
    </section>

    <section class="flex flex-col">
      <h1 class="font-semibold text-[36px] text-center mb-4">
        Articles récents
      </h1>
      <PostCards posts={latestPosts} />
    </section>
  </main>
</Layout>
<Footer />
