---
import { getCollection } from "astro:content";
import type { ItemList, WithContext } from "schema-dts";
import Header from "../../../components/Header.astro";
import PostCards from "../../../components/PostCards.astro";
import Layout from "../../../layouts/Layout.astro";

export const prerender = true;

const allTutorials = (await getCollection("tutorials")).sort(
  (a, b) =>
    new Date(b.data.publishDate).getTime() -
    new Date(a.data.publishDate).getTime()
);

const title = "CSSéducteur - Tous les tutoriels CSS";
const description =
  "Apprenez le CSS avec nos tutoriels, astuces et techniques avancées pour améliorer vos compétences en design web. Rédigé et imaginé par CSSéducteur.";
const schema: WithContext<ItemList> = {
  "@context": "https://schema.org",
  "@type": "ItemList",
  name: "Tutorials",
  itemListElement: allTutorials.map((post, index) => ({
    "@type": "ListItem",
    position: index + 1,
    url: new URL(Astro.url.pathname + "/" + post.id, Astro.site).toString(),
    name: post.data.title,
  })),
  description,
  url: new URL(Astro.url.pathname, Astro.site).toString(),
};
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<Layout
  url={canonicalURL.toString()}
  title={title}
  description={description}
  schema={JSON.stringify(schema)}
>
  <Header />
  <main class="p-4 max-w-[800px] mx-auto text-color-contrast">
    <h1 class="text-[36px] text-center">Tutoriels</h1>
    <p class="text-center my-4">
      Apprenez le CSS avec nos tutoriels, astuces et techniques avancées pour
      améliorer vos compétences en design web.
    </p>
    <PostCards posts={allTutorials} />
  </main>
</Layout>
