---
interface Props {
  title: string;
  url: string;
  description: string;
  robots?: string;
  schema?: string;
}

const { url, title, description, robots = "all", schema } = Astro.props;
---

<title>{title}</title>
<meta name="description" content={description} />
<meta name="viewport" content="width=device-width" />
<!-- favicon  -->
<link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<link rel="shortcut icon" href="/favicon.ico" />
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
<link rel="manifest" href="/site.webmanifest" />
<link rel="canonical" href={url} />

<!-- add schema.org if setted -->
<script is:inline type="application/ld+json" set:html={schema} />

<!-- sitemaps and co -->
<link
  rel="sitemap"
  type="application/xml"
  title="Sitemap"
  href="/sitemap.xml"
/>
<meta name="generator" content={Astro.generator} />
<meta name="robots" content={robots} />

<!-- Open Graph tags -->
<meta property="og:title" content={title} />
<meta property="og:type" content="website" />
<meta property="og:url" content={url} />
<meta property="og:description" content={description} />
<meta
  property="og:image"
  content="https://css-seducteur-css.site/web-app-manifest-512x512.png"
/>
<meta property="og:site_name" content="CSSéducteur" />
<meta property="og:locale" content="fr_FR" />

<!-- Twitter Card metadata -->
<meta name="twitter:card" content="summary_large_image" />
