---
import type { CollectionEntry } from "astro:content";
import { getCollection } from "astro:content";
import Footer from "../../components/Footer.astro";
import Header from "../../components/Header.astro";
import PostCards from "../../components/PostCards.astro";
import Layout from "../../layouts/Layout.astro";
import { sortByPublishDate } from "../../lib/utils";

export const prerender = true;

export async function getStaticPaths() {
  const tutorials = await getCollection("tutorials");
  const sortedTutorials = sortByPublishDate(tutorials, "desc");
  const allTags = sortedTutorials.map((post) => post.data.tags.map((tag) => tag.toLowerCase())).flat();
  const uniqueTags = [...new Set(allTags)];

  const postsByTags = uniqueTags.reduce((acc, tag) => {
    return {
      ...acc,
      [tag]: sortedTutorials.filter((post) => post.data.tags.map((tag) => tag.toLowerCase()).includes(tag)),
    };
  }, {} as Record<string, CollectionEntry<"tutorials">[]>);

  return Object.keys(postsByTags).map((tag) => {
    return {
      params: { tag },
      props: { posts: postsByTags[tag] },
    };
  });
}

const {tag} = Astro.params;
const {posts} = Astro.props;

---

<Layout title={tag}>
    <Header />
    <main class="p-4 max-w-[800px] mx-auto">
      <section class="flex flex-col">
        <h1 class="text-[36px] text-center">Blogs about <strong class="capitalize">{tag}</strong></h1>
        <div class="max-w-[800px] mx-auto mt-6">
          <PostCards 
            posts={posts}
          />
        </div>
      </section>
    </main>
    <Footer />
</Layout>
